@model HovedOppgave.Models.CalibrationViews

@{
    ViewBag.Title = "Kalibrering logg detaljer";
}

<h2>Kalibrering logg detaljer</h2>

<br />
<div class="col-lg-offset-2">
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" onclick="Overview()">Oversikt</button>
        <button type="button" class="btn btn-default" onclick="Create()">Registrer ny enhet</button>
        <button type="button" class="btn btn-default" onclick="History()">Logg</button>
        <button type="button" class="btn btn-default" onclick="License()">Sertifikat</button>
        <button type="button" class="btn btn-default" onclick="Import()">Importering</button>
    </div>
</div>
<br />
<div id="fillDetails"></div>

<button class="btn btn-default" type="button" id="button">Rediger kalibrering</button>

<script type="text/javascript">
    $(document).ready(function () {
        var device = @Html.Raw(Json.Encode(Model.Device));
        var company = @Html.Raw(Json.Encode(Model.Company));
        var file = @Html.Raw(Json.Encode(Model.FileTo));
        var room = @Html.Raw(Json.Encode(Model.Room));
        var eventType = @Html.Raw(Json.Encode(Model.EventType));
        var logEvent = @Html.Raw(Json.Encode(Model.LogEvent));

        CalibrationViewsDetails(logEvent, eventType, device, company, room, file);

        $("#button").click(function() {
            window.location.replace("/Kalibrering/EditCalibration/" + @Model.LogEvent.LogEventID)
        });
    });

    function Overview() {
        window.location.replace("/Kalibrering/Overview");
    };

    function Create() {
        window.location.replace("/Kalibrering/Create/" + 0);
    };

    function Import() {
        window.location.replace("/Kalibrering/Import/" + 0);
    };

    function History() {
        window.location.replace("/Kalibrering/History");
    };

    function License() {
        window.location.replace("/Kalibrering/License");
    };
</script>