@model HovedOppgave.Models.CalibrationViews

@{
    ViewBag.Title = "Fil detaljer";
}

<h2>Fil detaljer</h2>

<br />
<div class="col-lg-offset-2">
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" onclick="Overview()">Oversikt</button>
        <button type="button" class="btn btn-default" onclick="Create()">Registrer ny enhet</button>
        <button type="button" class="btn btn-default" onclick="History()">Logg</button>
        <button type="button" class="btn btn-default" onclick="License()">Sertifikat</button>
        <button type="button" class="btn btn-default" onclick="Import()">Importering</button>
    </div>
</div>
<br />

<div class="col-lg-12">
    <h4>Fil</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.File.FileName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.File.FileName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FilePath)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FilePath)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.File.FileSize)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.File.FileSize)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.File.FileType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.File.FileType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.File.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.File.Date)
        </dd>
    </dl>
</div>

<div class="col-lg-12">
    <h4>Kalibrering</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LogEvent.RegisteredDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LogEvent.RegisteredDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LogEvent.StartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LogEvent.StartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LogEvent.EndDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LogEvent.EndDate)
        </dd>
    </dl>
</div>

<div class="col-lg-12">
    <h4>Utstyrsenhet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Device.Name)
        </dt>
        <dd>
            @Html.ActionLink(Model.Device.Name, "Device", "Global", new { id = Model.Device.DeviceID }, null)
        </dd>
    </dl>
</div>

<script type="text/javascript">
    function Overview() {
        window.location.replace("/Kalibrering/Overview");
    };

    function Create() {
        window.location.replace("/Kalibrering/Create");
    };

    function Import() {
        window.location.replace("/Kalibrering/Import");
    };

    function History() {
        window.location.replace("/Kalibrering/History");
    };

    function License() {
        window.location.replace("/Kalibrering/License");
    };
</script>