@model HovedOppgave.Models.Device

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Device</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SerialNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SerialNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Height)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Height)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsRackMountable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsRackMountable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Brand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InputVoltage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InputVoltage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeviceTypeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeviceTypeID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoomID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoomID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DeviceID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
