@model IEnumerable<HovedOppgave.Models.CalibrationViews>

@{
    ViewBag.Title = "Kalibrering sertifikat";
}

<h2>Kalibrering sertifikat</h2>

<br />
<div class="col-lg-offset-3">
    <div class="btn-group" role="group">
        <button class="btn btn-default dropdown-toggle" onclick="getColName()" id="menu" data-toggle="dropdown">
            Gjem Kolonner
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="menu" id="ddm" onclick="checkColName()"></ul>
        <button type="button" class="btn btn-default" onclick="Overview()">Oversikt</button>
        <button type="button" class="btn btn-default" onclick="Create()">Registrer ny enhet</button>
        <button type="button" class="btn btn-default" onclick="History()">Logg</button>
        <button type="button" class="btn btn-default" onclick="Import()">Importering</button>
    </div>
</div>
<br />
<h4>Fil plassering</h4>
<hr />
<div class="col-lg-12">
    @foreach (var item in Model)
    {
        @Html.DisplayFor(modelItem => item.FilePath)
    }
</div>
<br /><br />
<table class="table">
    <thead id="thead">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.File.FileName)
                <button type="button" class="btn btn-xs" aria-label="Left Align" onclick="sortTable(tbody, 0, asc1); asc1 *= -1; asc2 *= 1; asc3 *= 1;">
                    <span class="glyphicon glyphicon-arrow-down"></span>
                </button>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.File.FileType)
                <button type="button" class="btn btn-xs" aria-label="Left Align" onclick="sortTable(tbody, 0, asc1); asc1 *= -1; asc2 *= 1; asc3 *= 1;">
                    <span class="glyphicon glyphicon-arrow-down"></span>
                </button>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.File.FileSize)
                <button type="button" class="btn btn-xs" aria-label="Left Align" onclick="sortTable(tbody, 0, asc1); asc1 *= -1; asc2 *= 1; asc3 *= 1;">
                    <span class="glyphicon glyphicon-arrow-down"></span>
                </button>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.File.Date)
                <button type="button" class="btn btn-xs" aria-label="Left Align" onclick="sortTable(tbody, 0, asc1); asc1 *= -1; asc2 *= 1; asc3 *= 1;">
                    <span class="glyphicon glyphicon-arrow-down"></span>
                </button>
            </th>
        </tr>
    </thead>
    <tbody id="tbody">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.File.FileName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.File.FileType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.File.FileSize)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.File.Date)
                </td>
                <td>
                    @Html.ActionLink("Vis filen", "Showfile", new { id=item.File.FileID }) |
                    @Html.ActionLink("Detalje", "Detailsfile", new { id = item.File.FileID }) |
                    @Html.ActionLink("Slett", "Deletefile", new { id = item.File.FileID })
                </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">
    var th, tb;
    var asc1 = 1, asc2 = 1, asc3 = 1;

    window.onload = function () {
        th = document.getElementById("thead");
        tb = document.getElementById("tbody");
    }

    function sortTable(tbody, colnumber, asc) {
        var rows = tbody.rows,
            rlength = rows.length,
            arr = new Array(),
            i, j, cells, clen;
        for (i = 0; i < rlength; i++) {
            cells = rows[i].cells;
            clen = cells.length;
            arr[i] = new Array();
            for (j = 0; j < clen; j++) {
                arr[i][j] = cells[j].innerHTML;
            }
        }
        arr.sort(function (a, b) {
            var glyph = th.children[0].children[colnumber].children[0].children[0];
            if (glyph.className === "glyphicon glyphicon-arrow-up")
                glyph.className = "glyphicon glyphicon-arrow-down";
            else
                glyph.className = "glyphicon glyphicon-arrow-up";

            return (a[colnumber] == b[colnumber]) ? 0 : ((a[colnumber] > b[colnumber]) ? asc : -1 * asc);
        });
        for (i = 0; i < rlength; i++) {
            rows[i].innerHTML = "<td>" + arr[i].join("</td><td>") + "</td>";
        }
    }

    function getColName() {
        var numberOfCol = 11;
        var ddl = document.getElementById("ddm");
        ddl.innerHTML = "";
        var child = th.children[0];
        for (var i = 0; i < numberOfCol; i++) {
            if (child.children[i].hidden) {
                ddl.innerHTML += "<li id='" + i + "'><a><input type='checkbox'/>" + child.children[i].textContent; + "</a></li>";
            }
            else {
                ddl.innerHTML += "<li id='" + i + "'><a><input type='checkbox'checked='checked'/>" + child.children[i].textContent; + "</a></li>";
            }
        }
    }

    function checkColName() {
        var numberOfCol = 11;
        for (var i = 0; i < numberOfCol; i++) {
            var el = document.getElementById(i);
            var checkInput = el.getElementsByTagName('input');
            if (checkInput[0].type === 'checkbox') {
                checkInput[0].onchange = hideColumn(i);
            }
        }
    }

    function hideColumn() {
        var colNumber = event.path[1].id;
        var childTH = th.children[0];
        var hideTH = childTH.children[colNumber];
        if (hideTH.hidden) {
            hideTH.hidden = false;
        }
        else {
            hideTH.hidden = true;
        }
        var length = tb.children.length, i;
        for (i = 0; i < length; i++) {
            var childTB = tb.children[i];
            var hideCol = childTB.children[colNumber];
            if (hideTH.hidden) {
                hideCol.hidden = true;
            }
            else {
                hideCol.hidden = false;
            }
        }
    }

    function Overview() {
        window.location.replace("/Kalibrering/Overview");
    };

    function Create() {
        window.location.replace("/Kalibrering/Create");
    };

    function Import() {
        window.location.replace("/Kalibrering/Import");
    };

    function History() {
        window.location.replace("/Kalibrering/History");
    };
</script>