@model HovedOppgave.Models.LoginViewModel

<h2>Logg inn</h2>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <hr />
                <h4>Innloggings legitimasjon</h4>
                @Html.ValidationSummary(true)
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", required = true })
                        @Html.ValidationMessageFor(m => m.Email, "Vennligst bruk riktig format: noe@noe.domene uten ulovlige tegn", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", required = true })
                        @Html.ValidationMessageFor(m => m.Password, "Vennligst ikke bruk ulovlige tegn", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Log in" class="btn btn-default" />
                    </div>
                </div>
                <div class="col-md-offset-1">
                    <div class="btn-group">
                        <button type="button" id="register" class="btn btn-default">Registrer</button>
                        <button type="button" id="lostPassword" class="btn btn-default">Mistet passord?</button>
                    </div>
                </div>
            }
        </section>
    </div>
</div>

<script type="text/javascript">
    $("#register").click(function () {
        window.location.replace("/Account/Register");
    });
    $("#lostPassword").click(function () {
        window.location.replace("/Account/LostPassword");
    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}